.user-main {
  display: flex;
  padding: 136px 0;
  flex-direction: column;
  align-items: flex-start;

  .user-main-h1 {
    color: #171A19;
    font-size: 32px;
    font-weight: 600;
  }
}

.book-container {
  display: flex;
  gap: 84px;
  margin-left: 30px;
  margin-top: 80px;
}

%style-book-background {
  width: 174px;
  height: 259px;
  background-color: #FDFDFD;
  border-radius: 9px;
  padding: 5px 10px;
}

.book-block {
  @extend %style-book-background;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 184px;
    width: 100%;
  }

  p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4px;
  }

  span {
    color: #868C92;
    font-weight: 400;
    font-size: 14px;
  }
}

.book-block-back {
  @extend %style-book-background;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  h3 {
    font-size: 14px;
    font-weight: 500;
  }

  .book-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .book-rating {
    display: flex;
    color: #828285;
    font-size: 13px;
    font-weight: 500;
    gap: 3px;

    p {
      color: #06070D;
    }
  }
}

.buy-button {
  border: none;
  color: white;
  font-weight: 400;
  font-size: 13px;
  border-radius: 20px;
  background-color: #06070D;
  padding: 13px 21px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s, transform 0.2s;

  &:disabled {
    opacity: 0.5;
    box-shadow: none;
    cursor: not-allowed;
  }

  &:active{
    transform: scale(0.98)
  }

}