.login-container {
  border-top-left-radius: 38px;
  border-bottom-left-radius: 38px;
  background-color: white;
  width: 456px;
  height: 808px;
  padding: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  p {
    color: #171A19;
    font-size: 24px;
    font-weight: 500;
    margin-left: 34px;
    margin-right: auto;
  }
}

.login-input-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  span {
    font-size: 13px;
    font-weight: 400;
    margin-left: 16px;
  }

  input {
    width: 360px;
    height: auto;
    background-color: #F2F2F2;
    border: none;
    border-radius: 6px;
    padding: 14px 16px;
    font-size: 15px;
  }
}

.login-line {
  height: 0.5px;
  border: none;
  width: 392px;
  background-color: #E5E5E5;
}

.login-bottom {
  display: flex;
  align-items: center;
  gap: 8px;

  p {
    color: #171A19;
    font-size: 15px;
    font-weight: 400;
  }

  span {
    color: #7185f1;
    font-size: 15px;
    font-weight: 400;
  }
}